<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<http pattern="/extjs/**" security="none" />
	<http pattern="/login.jsp" security="none" />
	<http pattern="/error.jsp" security="none" />
	
	<http>
		<custom-filter position="FORM_LOGIN_FILTER" ref="customAuthenticationFilter" />
	</http>
	
	<http auto-config="true">
		<logout logout-url="/logout" delete-cookies="JSESSIONID" />
		<session-management session-fixation-protection="newSession">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" />
		</session-management>
		<intercept-url pattern="/**" access="ROLE_USER" />
		<form-login default-target-url="/index.jsp" login-page="/login.jsp"
			authentication-failure-url="/error.jsp" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="user" authorities="ROLE_USER" password="123456" />
				<user name="admin" authorities="ROLE_USER,ROLE_ADMIN" password="123456" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>
